{% from "macros/tooltip.jinja2" import tooltip as tooltip_func %}

{% macro confirm_action_button(text, title, url, class="btn btn-primary", container="button", method="hx-get", body="Do you want to proceed?", icon="warning", disabled=false, tooltip=none, tooltip_category="primary", tooltip_position="top") %}
<{{ container }} type="button" class="{{ class }}"
    {% if not disabled %}
    {{ method }}="{{ url }}"
    _='on htmx:confirm(issueRequest)
        halt the event
        call Swal.fire({
            title: {{ title | tojson | forceescape }},
            icon: "{{ icon }}",
            showDenyButton: true,
            text: {{ body | tojson | forceescape }},
            confirmButtonText: "Yes",
            denyButtonText: "No"
        })
        if result.isConfirmed issueRequest()'
    {% else %}disabled{%endif%} {% if tooltip %}{{ tooltip_func(tooltip, tooltip_position, tooltip_category) }}{% endif %}>{{ text }}</{{ container }}>
{% endmacro %}

{% macro sm_modal_button(text, container="button", class="btn btn-primary", disabled=false, hx_get=none, hx_post=none, hx_delete=none, tooltip=none, tooltip_category="primary", tooltip_position="top") %}
<{{ container }} type="button" class="{{ class }}"
data-bs-toggle="modal" data-bs-target="#sm-modal" hx-target="#sm-modal-content" hx-swap="innerHTML"
{% if hx_get %}
hx-get="{{ hx_get }}"
{% elif hx_post %}
hx-post="{{ hx_post }}"
{% elif hx_delete %}
hx-delete="{{ hx_delete }}"
{% endif %}
{% if disabled %}disabled{% endif %}>
    <span {% if tooltip %}{{ tooltip_func(tooltip, tooltip_position, tooltip_category) }}{% endif %}>{{ text }}</span>
</{{ container }}>
{% endmacro %}

{% macro xl_modal_button(text, container="button", class="btn btn-primary", disabled=false, hx_get=none, hx_post=none, hx_delete=none, tooltip=none, tooltip_category="primary", tooltip_position="top") %}
<{{ container }} type="button" class="{{ class }}"
data-bs-toggle="modal" data-bs-target="#xl-modal" hx-target="#xl-modal-content" hx-swap="innerHTML"
{% if hx_get %}
hx-get="{{ hx_get }}"
{% elif hx_post %}
hx-post="{{ hx_post }}"
{% elif hx_delete %}
hx-delete="{{ hx_delete }}"
{% endif %}
{% if disabled %}disabled{% endif %}>
    <span {% if tooltip %}{{ tooltip_func(tooltip, tooltip_position, tooltip_category) }}{% endif %}>{{ text }}</span>
</{{ container }}>
{% endmacro %}

{% macro fs_modal_button(text, container="button", class="btn btn-primary", disabled=false, hx_get=none, hx_post=none, hx_delete=none, tooltip=none, tooltip_category="primary", tooltip_position="top") %}
<{{ container }} type="button" class="{{ class }}"
data-bs-toggle="modal" data-bs-target="#fullscreen-modal" hx-target="#fullscreen-modal-content" hx-swap="innerHTML"
{% if hx_get %}
hx-get="{{ hx_get }}"
{% elif hx_post %}
hx-post="{{ hx_post }}"
{% elif hx_delete %}
hx-delete="{{ hx_delete }}"
{% endif %}
{% if disabled %}disabled{% endif %}>
    <span {% if tooltip %}{{ tooltip_func(tooltip, tooltip_position, tooltip_category) }}{% endif %}>{{ text }}</span>
</{{ container }}>
{% endmacro %}