{% macro tooltip(text, position="bottom", category="primary") -%}
data-bs-toggle="tooltip" data-bs-placement="{{ position }}"
data-bs-custom-class="{{category}}-tooltip"
data-bs-title="{{ text }}"
{%- endmacro %}