{% from "macros/button.jinja2" import confirm_action_button %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.png" sizes="any" type="image/png">
    <title>CellBro</title>

    <!-- htmx -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.4" integrity="sha384-1RwI/nvUSrMRuNj7hX1+27J8XDdCoSLf0EjEyF69nacuWyiJYoQ/j39RT1mSnd2G" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='style/compiled/style.css') }}" rel="stylesheet">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.8.2.min.js"></script>
</head>

<body class="flex flex-col h-screen">
    <div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 right-0 z-40">
        <div class="navbar-start">
            <label for="left-side-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <i class="bi bi-layout-sidebar-inset"></i>
            </label>
            <a class="text-xl pl-3">CellBro</a>
        </div>
        <div class="navbar-center">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a href="/" {% if active_page == 'dashboard-page' %}class="menu-active"{% endif %}>
                        <i class="bi bi-speedometer2"></i>
                        <span class="dock-label">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a {% if active_page == 'users-page' %}class="menu-active"{% endif %} href="{{ url_for('users') }}">
                        <i class="bi bi-person-circle"></i>
                        <span class="dock-label">Users</span>
                    </a>
                </li>
                <li>
                    <a {% if active_page == 'qc-page' %}class="menu-active"{% endif %} href="{{ url_for('qc_page') }}">
                        <i class="bi bi-clipboard-check"></i>
                        <span class="dock-label">QC</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-end">
            <div class="pr-4 flex items-center space-x-4">
                <div id="worker-status-container" hx-get="{{ url_for('worker_status') }}" hx-trigger="load" hx-swap="outerHTML" aria-label="status" class="status status-neutral">
                </div>
                <label for="right-side-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <i class="bi bi-layout-sidebar-inset-reverse"></i>
                </label>
            </div>
        </div>
    </div>
    
    <div class="drawer drawer-end flex-1 mt-16">
        <input id="right-side-drawer" type="checkbox" class="drawer-toggle" />
        
        <div class="drawer-content flex flex-col h-full">
            
            <div class="drawer h-full">
                <input id="left-side-drawer" type="checkbox" class="drawer-toggle" />
                
                <div class="drawer-content flex flex-col h-full">
                    <div class="flex-1 overflow-auto">
                        <div class="w-full h-full">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    <div class="bg-base-100 shadow-sm">
                        {% include "footer.html" %}
                    </div>
                </div>
                <div class="drawer-side z-50">
                    <label for="left-side-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                    <div class="bg-base-200 h-full w-120 flex flex-col">
                        <h2 class="px-4 py-2 text-xs font-bold uppercase tracking-widest opacity-60">Timeline</h2>
                        <div class="flex-1 min-h-0" hx-get="{{ url_for('timeline') }}" hx-trigger="intersect, dataset-updated from:body" hx-swap="innerHTML">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="drawer-side z-50">
            <label for="right-side-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <div id="right-side-drawer-content" class="bg-base-200 h-full w-150 p-4"></div>
        </div>
    </div>

    {% if modal_form %}
    <dialog id="modal-form-container" class="modal" open>
        <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="text-lg font-bold">QC Required</h3>
            <div class="py-4">
                {{ modal_form.render() | safe }}
            </div>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Close</button>
                </form>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
    {% endif %}

    <div x-data="toastManager" 
        class="toast toast-end toast-bottom z-[9999] items-end mb-10"
        @flash.window="add($event.detail.category, $event.detail.message)">
        <div id="websocket-toast-catcher"></div>
        <template x-for="toast in toasts" :key="toast.id">
            <div x-show="toast.visible"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="translate-y-4 opacity-0"
                x-transition:enter-end="translate-y-0 opacity-100"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                :class="{
                    'alert shadow-lg flex justify-between w-auto min-w-[200px] text-sm p-1 pl-3': true,
                    'alert-error': toast.category === 'error',
                    'alert-success': toast.category === 'success',
                    'alert-warning': toast.category === 'warning',
                    'alert-info': toast.category === 'info'
                }">
                
                <span x-text="toast.message"></span>
                <button class="btn btn-sm btn-circle btn-ghost ml-1" @click="remove(toast.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </template>
    </div>
    <div id="htmx-trigger"></div>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('toastManager', () => ({
                toasts: [],
                
                add(category, message) {
                    const id = Date.now() + Math.random();
                    const isPersistent = (category === 'error' || category === 'danger');
                    
                    this.toasts.push({ id, category, message, visible: true });
                    if (!isPersistent) {
                        setTimeout(() => this.remove(id), 3000);
                    }
                },
                remove(id) {
                    const index = this.toasts.findIndex(t => t.id === id);
                    if (index > -1) {
                        this.toasts[index].visible = false;
                        setTimeout(() => {
                            this.toasts = this.toasts.filter(t => t.id !== id);
                        }, 300);
                    }
                }
            }));
        });

        function render_flash_messages() {
            fetch("{{ url_for('retrieve_flash_messages') }}")
                .then(res => res.json())
                .then(data => {
                    const messages = Array.isArray(data) ? data : (data?.messages || []);
                    messages.forEach(([category, message]) => {
                        window.dispatchEvent(new CustomEvent('flash', { 
                            detail: { category, message } 
                        }));
                    });
                });
        }
        document.addEventListener("htmx:afterRequest", (e) => {
            if (!e.detail.xhr.getResponseHeader("HX-Redirect")) {
                render_flash_messages();
            }
        });
        document.addEventListener("DOMContentLoaded", render_flash_messages);
    </script>
</body>
</html>