{% extends "base.html" %}
{% set active_page = "home-page" %}
{% block content %}
<div class="container mx-auto p-8" x-data="{ modalOpen: false }">
    <button @click="modalOpen = true" class="btn btn-primary">
        Open Modal
    </button>
    <div class="modal" :class="{ 'modal-open': modalOpen }">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Hello!</h3>
            <p class="py-4">This is a DaisyUI modal with Alpine.js</p>
            
            <div class="modal-action">
                <button @click="modalOpen = false" class="btn">Close</button>
                <button @click="modalOpen = false" class="btn btn-primary">Accept</button>
            </div>
        </div>
        
        <div class="modal-backdrop" @click="modalOpen = false"></div>
    </div>
</div>
{% endblock %}