body {
    margin: 0;
    padding: 0;
    background-color: #020409;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#page{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: aquamarine;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

#navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;
    background-color: #020409;
}

#navbar div {
    height: 100%;
    width: 80vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar .active {
    background-color: #14181f;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}

#navbar div div a:hover {
    background-color: #1e222a;
}

.top {
    display: flex;
    width: 100vw;
    height: 60vh;
}

.bottom {
    display: flex;
    width: 100vw;
    height: calc(100vh - 60vh - 50px);
    background-color: aliceblue;
}

.main {
    width: 40vw;
    height: 60vh;
    --height: calc(60vh - 80px);
    --side: min(40vw, var(--height));
    width: var(--side);
}

.main-select {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 80px;
    padding-top: 10px;
    gap: 20px;
    background-color: #0E1117;
}

.secondary-select {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 80px;
    padding-top: 10px;
    gap: 20px;
    background-color: #0E1117;
}

.main-figure {
    background-color: white;
    display: flex;
    align-items: left;
    justify-content: center;
    height: calc(60vh - 80px);
}

.main-plot {
    --height: calc(60vh - 80px);
    --side: min(40vw, var(--height));
    width: var(--side);
    height: var(--side);
}

.bottom-plot {
    --height: calc(60vh - 80px);
    --side: min(40vw, var(--height));
    width: var(--side);
    height: var(--side);
    width: calc(80vw - 10px);
    background-color: #0E1117;
}

.secondary-figure {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 80px);
}

.secondary-plot {
    --height: calc(60vh - 80px);
    --side: min(40vw, var(--height));
    width: calc(100vw - 20vw - var(--side));
    height: var(--height);
}

.top-sidebar {
    padding-left: 10px;
    padding-right: 10px;
    width: 20vw;
    margin: 0;
    background-color: #0E1117;
}

.top-header {
    padding: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content:left;
    height: 80px;
}

.bottom-header {
    padding: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content:left;
    height: 80px;
}

.bottom-sidebar {
    padding-left: 10px;
    padding-right: 10px;
    width: 20vw;
    margin: 0;
    background-color: #0E1117;
}

.bottom-sidebar-footer {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.bottom-figure {
    overflow-y: scroll;
    width: 80vw;
    background-color: white;
    display: flex;
    justify-content: left;
    height: calc(50vh - 50px);
}

.bottom-figure::-webkit-scrollbar-track {
    background: #020409;
}

::-webkit-scrollbar-corner {
    background: #020409;
}

.top-parameters {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: calc(50vh - 140px);
}

.top-footer {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.bottom-parameters {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: calc(50vh - 190px);
}

.param-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

.param-select {
    width: 150px;
    height: 100%;
    position:relative;
    overflow-y: visible;
}

.param-label {
    width: 50%;
}

.param-input {
    width: 50%;
    border-radius: 5px;
    text-align: right;
}

