{% extends "base.html" %}
{% set active_page = "papers-page" %}
{% block content %}
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="tcol-1">ID</th>
                <th scope="col" class="tcol-16">Title</th>
                <th scope="col" class="tcol-3">Published UTC</th>
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <th scope="row">{{ paper.id }}</th>
                <td>
                    <a href="{{ url_for('papers.paper', paper_id=paper.id) }}">{{ paper.title }}</a>
                </td>
                <td>{{ paper.published_utc | format_datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}