<div class="input-container {{ container_class }}">
    <div class="input-group">
        <span class="input-group-text" id="{{ field.id }}">{{ field.label }}</span>
        <input type="{{ field.type }}" class="form-control{% if field.errors %} is-invalid{% endif %}" {% if field.placeholder %}placeholder="{{ field.placeholder }}" {% endif %}aria-label="{{ field.label }}" aria-describedby="{{ field.id }}" name="{{ field.name }}" id="{{ field.id }}" value="{{ field.data or '' }}"
        autocomplete="{{ field.autocomplete }}" {% if field.required %}required{% endif %}>
    </div>
    <div class="invalid-feedback d-block pb-1" role="alert" style="min-height: 20px; width: 100%;">
        {% for error in field.errors %}
        <div>{{ error }}</div>
        {% endfor %}
    </div>
</div>