body {
    margin: 0;
    padding: 0;
    background-color: #020409;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}

.sidebar label {
    color: #ffffff;
}

h4 {
    font-size: 15px;
    color: #868686
}

h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.hover-container h3 {
    color: black;
}

h2 {
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 18px; */
    font-size: 25px;
    color: #868686;
}

#navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;
    background-color: #020409;
}

#navbar div {
    height: 100%;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#navbar .active {
    background-color: #14181f;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}

#navbar div div a:hover {
    background-color: #1e222a;
}

#_pages_content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: calc(100vh - 50px);
}

#navbar {
    /* background-color: transparent; */
    height: 50px;
    width: 100vw;
}

#page {
    height: 100vh;
    overflow: hidden;
}


.top {
    display: flex;
    height: 60vh;
    width: 100vw;
}

.bottom {
    border-top: solid 1px #5c5c5c;
    display: flex;
    overflow-y: hidden;
    width: 100vw;
    height: calc(100vh - 60vh - 50px);
    overflow-x: hidden;
}

#left-sidebar-btn-container {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 20px;
    z-index: 11;
}

#right-sidebar-btn-container {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    z-index: 11;
    transform: rotate(180deg);
}

.left-sidebar {
    position: absolute;
    left: -500px;
    width: 500px;
    height: 100%;
    background-color: #0E1117;
    z-index: 10;
    transition: all 0.4s ease;
    padding: 0 10px 0 10px;
}

.right-sidebar {
    position: absolute;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #0E1117;
    z-index: 10;
    transition: all 0.4s ease;
    padding: 0 10px 0 10px;
}

.right-sidebar {
    height: 60vh;
}

.left-sidebar {
    height: 60vh;
}

.bot-sidebar {
    height: calc(100vh - 60vh - 50px);
}

.left-open {
    transform: translate(500px, 0px);
}

.right-open {
    transform: translate(-500px, 0px);
}

.resizer {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #d3d3d3;
    box-sizing: border-box;
    left: calc(20vw + 40vw - 8px);
    top: calc(50% + 16px);
    cursor: nw-resize;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background-color: white;
}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.fig-header {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
}

.dash-dropdown {
    overflow-y: visible;
}

.row-tabs {
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row-tabs .nav-item {
    height: 50%;
}

.row-tabs .nav-item a {
    color: black;
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.row-tabs .nav-item .active {
    color: #0275d8;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.tab-content {
    width: 100%;
    height: 80px;
}


.fig-header .card {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 5px;
}

.fig-header .card-body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.param-column {
    width: 100%;
}

.hover-container {
    width: 100%;
    height: 100%;
    display: flex;
    /* overflow-y: scroll; */
}

.hover-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hover-links {
    display: flex;
    flex-direction: column;
}

#gene-list-dropdown {
    display: flex;
    flex-direction: column;
}

.hover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 5px 0px 5px; */
    width: 120px;
    text-align: center;
}

.hover-header label {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.hover-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 5px;
}

.home-main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 0 30px 0;
    /* background-color: red; */
}

.home-bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 0 30px 0;
}

.floating-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 100%;
    padding: 10px;
    border: solid 1px #5c5c5c;
    border-radius: 5px;
}

.floating-box .title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.floating-box .title > h2 {
    overflow-wrap: initial;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.floating-box .title > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.floating-box .list {
    padding: 10px;
    width: 100%;
    overflow-y: scroll;
}

.floating-box .list > div {
    border-bottom: solid 1px #5c5c5c;
    padding: 10px 0 10px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.modal-footer > div {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} */

/* .col {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.value {
    overflow-wrap: break-word;
}

.hover-col {
    width: 100%;
}

.param-class {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px #5c5c5c;
}

.param-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex-grow: 1;
}

.main-body {
    background-color: white;
    width: 50vw;
    /* min-height: calc(100% - 80px); */
    flex: 1 1 auto;
}

.main-body > div {
    height: 100%;
}

.main-body > div > div {
    height: 100%;
}

.main-plot {
    background-color: white;
    width: 50vw;
    height: 100%;
}

.secondary-body {
    width: 50vw;
    flex: 1 1 auto;
    background-color: white;
}

.secondary-body > div {
    height: 100%;
}

.secondary-body > div > div {
    height: 100%;
}

.secondary-plot {
    background-color: white;
    width: 50vw;
    height: 100%;
}

.dropdown-menu {
    background-color: #0E1117;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.dropdown-menu > .form-switch {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.bottom-body {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    background-color: white;
}

.bottom-left-plot {
    height: calc(100vh - 60vh - 50px);
    width: 50vw;
}

.bottom-right-plot {
    height: calc(100vh - 60vh - 50px);
    width: 50vw;
}

.bottom-plot {
    background-color: white;
    height: calc(100vh - 60vh - 50px);
    width: 100vw;
}

#heatmap-figure {
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content:left;
    height: 80px;
}

.left-sidebar .sidebar-container {
    height: calc(60vh - 80px);
}

.right-sidebar .sidebar-container {
    height: calc(60vh - 80px);
}

.bot-sidebar .sidebar-container {
    height: calc(100vh - 60vh - 50px - 80px);
}

.sidebar-parameters {
    overflow-y: scroll;
    height: calc(100% - 60px);
    width: 100%;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.param-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;
    gap: 20px
}

.param-row-stacked {
    width: 100%;
    min-height: 70px;
}

.popup .param-label {
    color: black;
}

.param-label {
    width: 50%;
}

.param-input {
    width: 100%;
    border-radius: 5px;
    text-align: right;
}

.param-row .param-input {
    width: 50%;
    border-radius: 5px;
    text-align: right;
}
