body {
    margin: 0;
    padding: 0;
    background-color: #020409;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#page {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: aquamarine;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

#navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;
    background-color: #020409;
}

#navbar div {
    height: 100%;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#navbar .active {
    background-color: #14181f;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}

#navbar div div a:hover {
    background-color: #1e222a;
}

#_pages_content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: calc(100vh - 50px);
}

#navbar {
    /* background-color: transparent; */
    height: 50px;
    width: 100vw;
}

#page {
    height: 100vh;
    overflow: hidden;
    /* background-color: pink; */
}


.top {
    background-color: white;
    display: flex;
    height: 60vh;
    width: 100vw;
}

.bottom {
    border-top: solid 1px #5c5c5c;
    display: flex;
    overflow-y: hidden;
    width: 100vw;
}

#sidebar-btn-container {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 20px;
    z-index: 11;
}

.sidebar {
    position: absolute;
    left: -500px;
    width: 500px;
    height: 100%;
    background-color: #0E1117;
    z-index: 10;
    transition: all 0.4s ease;
    padding: 0 10px 0 10px;
}

.top-sidebar {
    height: 60vh;
}

.bot-sidebar {
    height: calc(100vh - 60vh - 50px);
}

.open {
    transform: translate(500px, 0px);
}

.resizer {
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #d3d3d3;
    box-sizing: border-box;
    left: calc(20vw + 40vw - 8px);
    top: calc(50% + 16px);
    cursor: nw-resize;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 60vh;
}

.top-parameters {
    width: 50vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #020409;
    display: flex;
    gap: 10px;
    padding: 0 10px 0 10px;
}

.top-parameters > div {
    width: 100%;
    height: 100%;
}

/* .top-parameters > div {
    width: 100%;
} */

.param-column {
    width: 100%;
}

.hover-container {
    display: flex;
    height: 100px;
}

.hover-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
}


#gene-list-dropdown {
    display: flex;
    flex-direction: column;
}

.hover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 0px 5px;
    width: 120px;
    text-align: center;
}

.hover-header label {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.hover-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 5px;
}

.hover-col {
    width: 100%;
}

.param-class {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px #5c5c5c;
}

.param-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex-grow: 1;
}

.main-figure {
    width: 50vw;
    height: 100%;
}

.main-figure > div {
    height: 100%;
}

.main-figure > div > div {
    height: 100%;
}

.main-plot {
    background-color: white;
    width: 50vw;
    height: 100%;
}

.secondary-figure {
    width: 50vw;
    height: 100%;
}

.secondary-figure > div {
    height: 100%;
}

.secondary-figure > div > div {
    height: 100%;
}

.secondary-plot {
    background-color: white;
    width: 50vw;
    height: 100%;
}

.dropdown-menu {
    background-color: #0E1117;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.dropdown-menu > .form-switch {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.bottom-figure {
    background-color: white;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100vw;
}

.bottom-left-plot {
    height: calc(100vh - 60vh - 50px);
    width: 50vw;
}

.bottom-right-plot {
    height: calc(100vh - 60vh - 50px);
    width: 50vw;
}

.bottom-plot {
    background-color: white;
    height: calc(100vh - 60vh - 50px);
    width: 100vw;
}

#heatmap-figure {
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content:left;
    height: 80px;
}

.top-sidebar .sidebar-container {
    height: calc(60vh - 80px);
}

.bot-sidebar .sidebar-container {
    height: calc(100vh - 60vh - 50px - 80px);
}

.sidebar-parameters {
    overflow-y: scroll;
    height: calc(100% - 60px);
    width: 100%;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.param-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.param-row-stacked {
    width: 100%;
    min-height: 70px;
}

.param-label {
    width: 50%;
}

.param-input {
    width: 100%;
    border-radius: 5px;
    text-align: right;
}

.param-row .param-input {
    width: 50%;
    border-radius: 5px;
    text-align: right;
}

