# PGAdmin
PGADMIN_EMAIL=admin@email.com
PGADMIN_PASSWORD=password
PGADMIN_PORT=5050

# Postrgresql
POSTGRES_USER=cellbro
POSTGRES_PASSWORD=password
POSTGRES_DB=cellbro
POSTGRES_PORT=5434
POSTGRES_HOST=postgres
DB_DIR=./db

# Redis Cache
CACHE_DIR=./cache
REDIS_PORT=6379
REDIS_HOST="redis-cache"

TIMEZONE="UTC"
SECRET_KEY="change-this"